.wow_mlf_loader {
	border: 5px solid #f3f3f3;
	border-top: 5px solid #0085ba;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: wow_mlf_spin 2s linear infinite;
	margin-right: 20px;
}

@keyframes wow_mlf_spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#wow_mlf_error_database td {
	color: red;
}
